[Common]
Runreg=http://runregistry.web.cern.ch/runregistry/

# 2016 Dataset = /PromptReco/%Collisions2016%:271036-284078
Dataset = /PromptReco/HICollisions2018%:294927-999999
#Dataset = /PromptReco/%Collisions2017%/DQM%

# which group of runs to look into (for collisions use Collisions16)
Group=Collisions18

# First collision run is 294927 (era A with hlt key not for physics) 
# 294927-295953 (/cdaq/physics/FirstCollisions )
# 296070-296174 (/cdaq/physics/Run2017/2e34/v1.0.0/HLT/v2 )
# 296641-       (/cdaq/physics/Run2017/2e34/v1.0.1/HLT/v2 )
# whole run range 2016 Collisions16 runs 
RunMin=326381
RunMax=327564

# list of quality flags
# 2017 default 
#QFLAGS=L1tcalo:GOOD,L1tmu:GOOD,Hlt:GOOD,Pix:GOOD,Strip:GOOD,Ecal:GOOD,Hcal:GOOD,Dt:GOOD,Rpc:GOOD,Es:GOOD,Csc:GOOD,Track:GOOD,Egamma:GOOD,Muon:GOOD,Jetmet:GOOD,Lumi:GOOD,All:GOOD
# 2018 new muon paradigm
##Golden
QFLAGS=L1tcalo:GOOD,L1tmu:GOOD,Hlt:GOOD,Pix:GOOD,Strip:GOOD,Track:GOOD,Lumi:GOOD
#QFLAGS=NONE:NONE

#BField threshold value
BField_thr=3.7

#BeamPresetn threshold value
BEAMPRESENT=True
BEAMSTABLE=True
#INJECTION=25ns%

# list of DCS on status
##Golden
DCS=Bpix,Fpix,Tibtid,TecM,TecP,Tob,Hf


#DCS=NONE

# if NONE, no json output...
# whole run range 2017 Collisions17 runs
JSONFILE=Cert_326381-327564_HI_PromptReco_Collisions18_JSON_TrackerOnly.txt 

#JSONFILE=json_local_files/Cert_314472-316271_13TeV_PromptReco_Collisions18_JSON_MuonPhys.txt
#from here optional arguments, you can omit them

#Enery value (+- 500 Gev)
#Beam_Ene=6500
Beam_Ene=6369

DSSTATE= COMPLETED
NOLOWPU = True

# DBS check: check following PD in DBS before building final JSON.It can be a comma separated list
# if activated it will slow down the script
#DBS_PDS=/ZeroBias/Run2016B-v1/RAW
#USE_DAS=False
#DBSCACHE=True
#CACHEFILE=DAS2016B_cache.txt,DAS2016C_cache.txt,DAS2016D_cache.txt,DAS2016E_cache.txt,DAS2016F_cache.txt,DAS2016G_cache.txt,DAS2016H_cache.txt
